/* Untuk Header */
header {
    color: rgb(0, 0, 0);
    margin: 0%;
    text-align: left;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Untuk body */
body {
    color: #F6F4EB;
    background-color: #F6F4EB;
    width: auto;
    height: auto;
    font-family: Arial, sans-serif;
}

/* Parent untuk child */
.parent {
    margin: auto;
    display: flex;
    width: 70%;
}

/* Child dari parent */
.child {
    border: 1px solid black;
    border-radius: 10px;
    flex: 1;
    margin: 20px;
    padding: 20px;
}

/* First child dari parent */
.child:first-child {
    margin-right: 20px;
}

/* Untuk width dari input */
.info {
    width: 80%;
}

/* Untuk div perhitungan bmi */
#bmi-calculator {
    background-color: #4682A9;
    font-family: Arial, sans-serif;
    font-weight: normal;
    box-shadow: 10px 10px 5px #749BC2;
}

/* Untuk div result */
#result {
    color: #F6F4EB;
    background-color: #4682A9;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: x-large;
    box-shadow: 10px 10px 5px #749BC2;
}

hr {
    position: relative;
    width: 100%;
    height: 5px;
    background: black;
    margin-bottom: 30px;
    bottom: 20px;
}

/* Untuk h2 */
h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0%;
    padding: 0%;;
    font-size: x-large;
}

/* Untuk h3 */
h3 {
    color: rgb(0, 191, 255);
    font-size: 100px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}

#lainnya {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    text-align: justify;
    background-color: #4682A9;
    font-family: Arial, sans-serif;
    font-weight: Normal;
    font-size: x-large;
    width: 65%;
    box-shadow: 10px 10px 5px #749BC2;
}

footer {
    text-align: center;
    color: #000000;
}

button {
    color: #000000;
    font-size: medium;
    background-color: #F6F4EB;
}

.button {
    text-align: right;
}